{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Admin: User Management</h3>
                <div id="page_mainbody_home">
                    {% if patient_data is not none and patient_data|length > 0 %}
                        {% if is_mongodb is false %}
                            <a href="{{ url_for('admin_database_management_mongodb') }}" class="button_link"><p class="button">View Patient Data in MongoDB</p></a>
                        {% else %}
                            <a href="{{ url_for('admin_database_management') }}" class="button_link"><p class="button">View Patient Data in MySQL</p></a>
                            <p>Notice: The MongoDB database is annonymous and is not linked to any users</p>
                        {% endif %}
                        <table>
                            <tr>
                                <th>ID</th>
                                {% if is_mongodb is false %}
                                    <th>User</th>
                                {% else %}
                                    <th>MySQL ID</th>
                                {% endif %}
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Hypertension?</th>
                                <th>Heart Disease?</th>
                                <th>Married?</th>
                                <th>Work Type</th>
                                <th>Residence Type</th>
                                <th>Average Glucose</th>
                                <th>BMI</th>
                                <th>Smoked?</th>
                                <th>Had Stroke?</th>
                                {% if is_mongodb is false %}
                                    <th>Delete</th>
                                {% endif %}
                            </tr>
                            {% for patient in patient_data %}
                                {% if is_mongodb is false %}
                                    <tr>
                                        <td>{{ patient.id }}</td>
                                        {% if patient.user_link is not none %}
                                            <td>{{ patient.user_link }}</td>
                                        {% else %}
                                            <td>-</td>
                                        {% endif %}
                                        <td>{{ patient.gender }}</td>
                                        <td>{{ patient.age }}</td>
                                        {% if patient.hypert == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        {% if patient.hdisease == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        {% if patient.married == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ patient.wtype }}</td>
                                        <td>{{ patient.rtype }}</td>
                                        <td>{{ patient.glevel }}</td>
                                        <td>{{ patient.bmi }}</td>
                                        {% if patient.smoked == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        {% if patient.stroke == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td style="border: 0px;"><a href="{{ url_for('admin_database_delete', patient_id=patient.id) }}" class="button_link"><p class="button" style="margin-bottom: 2%;">X</p></a></td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ patient._id }}</td>
                                        <td>{{ patient.MySQL_ID }}</td>
                                        <td>{{ patient.patient_gender }}</td>
                                        <td>{{ patient.patient_age }}</td>
                                        {% if patient.patient_hyperT == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        {% if patient.patient_hDisease == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        {% if patient.patient_married == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        <td>{{ patient.patient_work_type }}</td>
                                        <td>{{ patient.patient_residence_type }}</td>
                                        <td>{{ patient.patient_avg_gLevel }}</td>
                                        <td>{{ patient.patient_bmi }}</td>
                                        {% if patient.patient_smoked == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                        {% if patient.patient_stroke == 1 %}
                                            <td>Yes</td>
                                        {% else %}
                                            <td>No</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% else %}
                        <a href="{{ url_for('admin_loadDB') }}" class="button_link"><p class="button">Load Data From CSV</p></a>
                        <p>Note: Loading the data from the CSV file takes a long time. The progress should be printed in the terminal.</p>
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>User</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Hypertension?</th>
                                <th>Heart Disease?</th>
                                <th>Married?</th>
                                <th>Work Type</th>
                                <th>Residence Type</th>
                                <th>Average Glucose</th>
                                <th>BMI</th>
                                <th>Smoked?</th>
                                <th>Had Stroke?</th>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
        </div>
</div>
{% endblock %}