{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Admin: User Management</h3>
                <div id="page_mainbody_home">
                    {% if userdata is not none and userdata|length > 0 %}
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Is Admin</th>
                                <th>Change Admin</th>
                                <th>Delete</th>
                            </tr>
                            {% for user in userdata %}
                                <tr>
                                    <td>{{ user.user_id }}</td>
                                    <td>{{ user.user_fullname }}</td>
                                    <td>{{ user.user_email }}</td>
                                    <td>{{ user.user_phone }}</td>
                                    {% if user.user_id != 0 %}
                                        {% if user.user_admin == 1 %}
                                            <td>Yes</td>
                                            <td><p class="button" style="margin-bottom: 2%;"><a href="{{ url_for('admin_user_apply_admin', user_id=user.user_id) }}" class="button_link">Revoke</a></p></td>
                                        {% else %}
                                            <td>No</td>
                                            <td><p class="button" style="margin-bottom: 2%;"><a href="{{ url_for('admin_user_apply_admin', user_id=user.user_id) }}" class="button_link">Apply</a></p></td>
                                        {% endif %}
                                    {% else %}
                                        <td>Yes</td>
                                        <td>-</td>
                                    {% endif %}
                                    <td><p class="button" style="margin-bottom: 2%;"><a href="{{ url_for('admin_user_delete', user_id=user.user_id) }}" class="button_link">Delete</a></p></td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Is Admin</th>
                                <th>Change Admin</th>
                                <th>Delete</th>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </table>
                    {% endif %}
                </div>
        </div>
</div>
{% endblock %}