{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Welcome!</h3>
                <div id="home_image">
                        <img src="{{ url_for('static', filename='construction.jpg') }}">                        
                </div>
                <div id="page_mainbody_home">
                        <p>Upload your personal data for us to collect (steal) and use to make more money. And maybe diagnose you with a stroke or something, idk, I'm not paid enough to write this crap.
                </div>
        </div>
</div>
{% endblock %}