<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_name }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="title">
            <h1>Health Website Thing</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" class="nav_link">Home</a></li>
                {% if current_user.is_authenticated %}
                    {% block is_authed %}
                        {% if current_user.id != 0 %}
                            <li><a href="{{ url_for('submission') }}" class="nav_link">Submit Info</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('user_account') }}" class="nav_link">{{ current_user.username }}</a></li>
                        {% if current_user.is_admin %}
                            {% block is_admin %}
                                <li><a href="{{ url_for('admin_main') }}" class="nav_link">Admin</a></li>
                            {% endblock %}
                        {% endif %}
                        <li><a href="{{ url_for('user_logout') }}" class="nav_link">Logout</a></li>
                    {% endblock %}
                {% else %}
                    {% block not_authed %}
                        <li><a href="{{ url_for('user_login') }}" class="nav_link">Login</a></li>
                        <li><a href="{{ url_for('user_signup') }}" class="nav_link">Signup</a></li>
                    {% endblock %}
                {% endif %}
            </ul>
        </nav>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>