<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_name }}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="title">
            <h1>Health Website Thing</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" class="nav_link">Home</a></li>
                <li><a href="{{ url_for('home') }}" class="nav_link">Login</a></li>
                <li><a href="{{ url_for('home') }}" class="nav_link">Signup</a></li>
            </ul>
        </nav>
        <div class="main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>