{% extends "layout.html" %}
{% block content %}
<div id="page_mainbody">
        <div id="home_paragraph1">
                <h3 id="page_header">Signup</h3>
                <div id="page_mainbody_home">
                        <form id="signup_form">
                                <p>Name:</p>
                                <input class="textbox" type="text" id="user_forename" name="txt_user_forename" maxlength="20" required placeholder="Forename">
                                <br>
                                <p>Email:</p>
                                <input class="textbox" type="text" id="user_email" name="txt_user_email" maxlength="20" required placeholder="Forename">
                                <br>
                                <p>Password:</p>
                                <input class="textbox" type="password" id="user_pass" name="txt_user_pass" maxlength="20" required placeholder="Password">
                                <br>
                                <p>Phone Number:</p>
                                <input class="textbox" type="text" id="user_phone" name="txt_user_phone" maxlength="20" required placeholder="Forename">
                                <br>
                                <input type="submit" value="Signup" class="submit_button">
                        </form>
                </div>
        </div>
</div>
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src=" {{ url_for('static', filename='scripts/signup.js') }}"></script>
{% endblock %}